PORT=4000
FRONT_URL=http://localhost:3000

JWT_SECRET_ACCESS=your_jwt_access_secret

RABBITMQ_URL=amqp://user:password@rabbitmq:5672
RABBITMQ_QUEUE=client_gateway_queue
RABBITMQ_QUEUE_EVENTS_PAYMENTS=events.payments
RMQ_EVENTS_QUEUE_ORGANIZATION=events.organization

STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_CONNECT_WEBHOOK_SECRET=your_stripe_connect_webhook_secret
STRIPE_SECRET=your_stripe_secret_key

REDIS_HOST=redis
REDIS_PORT=6379